{{ define "main" }}
<head>
    <link rel="stylesheet" href="/css/manga.css">
</head>

<header class="page-header">
    {{ partial "breadcrumbs.html" . }}
    <h1 class="title-with-rss">
        {{ .Title }}
        <a href="/manga/index.xml" title="RSS" aria-label="RSS" class="rss-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round" height="23">
            <path d="M4 11a9 9 0 0 1 9 9" />
            <path d="M4 4a16 16 0 0 1 16 16" />
            <circle cx="5" cy="19" r="1" />
          </svg>
        </a>
      </h1>
  </header>

<div class="manga-grid">
    <p>{{ .Content }}</p>

    {{ if .Pages }}
    <div class="grid">
        {{ range .Pages }}
        <div class="grid-item">
            <a href="{{ .RelPermalink }}">
                {{ with .Resources.ByType "image" }}
                <img src="{{ (index . 0).RelPermalink }}" alt="封面图片">
                {{ else }}
                <img src="/images/default-cover.jpg" alt="No cover available">
                {{ end }}
                <h3>{{ .Title }}</h3>
            </a>
        </div>
        {{ end }}
    </div>
    {{ else }}
    <p>没有找到任何子页面。</p>
    {{ end }}
</div>

{{ end }}