/* 父容器样式 */
/* 链接部分的外部容器 */
.link-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* 木板层容器样式 */
.wooden-board-layer {
  background: var(--texture) repeat,var(--secondary);
  background-size: cover;
  padding: 20px;
  border-radius: 10px;
}

/* 纸张层容器样式 */
.paper-layer {
  background:  url('/images/textures/texture4.png') repeat, var(--entry);
  background-size: cover;
  text-align: center;
  padding: 20px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); 
}

/* 纸张中的标题样式 */
.paper-layer h2 {
  font-size: 24px;
  margin: 10px ;
}

ul{
  margin-top: 20px;
}
#creator-links a {
  padding: 20px;
  color: var(--content);  /* 初始颜色 */
  text-decoration: none;  /* 去除默认下划线 */
  transition: color 0.3s ease, text-decoration 0.3s ease, transform 0.3s ease;
}

/* hover 效果 */
#creator-links a:hover {
  color: var(--tag-bg);  /* 改变鼠标悬停时的颜色 */
  transform: scale(1.1);  /* 放大 10% */
}