{{ define "main" }}
<main class="main">

    <header class="page-header">
        <h1>{{ .Title }}</h1>
    </header>
    {{ range (where .Site.RegularPages "Section" "events") }}
    <article class="post-entry">
        <div class="post-info">
            <header class="entry-header">
                <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            </header>
            <div class="entry-content">
                {{ .Params.description }}
            </div>
            <!-- 调用 events_meta.html -->
            {{ partial "events_meta.html" . }}
        </div>
    </article>
    {{ end }}
</main>
{{ end }}