<style>
    .parent-event-meta {
        display: flex; /* 使用 Flexbox */
        flex-wrap: wrap; /* 强制元素在一行 */
        align-items: center; /* 垂直居中 */
        gap: 8px; /* 元素之间的间距 */
        opacity: 0.8; /* 透明度 */
        font-size: 14px; /* 字体大小 */
        color: var(--secondary);
    }

    .parent-event-meta span,
    .parent-event-meta ul {
        display: inline-flex; /* 确保内容横向排列 */
        align-items: center;
        margin: 0; /* 去除可能的默认边距 */
    }

    .post-tags-meta {
        display: inline-flex;
        gap: 10px; /* 标签之间的间距 */
    }

    .post-tags-meta a {
        text-decoration: none;
        color: var(--secondary)!important;
        font-size: 14px;
    }

    .post-tags-meta a:hover {
        color: var(--primary)!important;
        text-decoration: underline;
    }
</style>

<div class="parent-event-meta">
    <!-- 日期 -->
    <span id="event_meta_style_1">
        <span>
            {{- (.Date.Format (default "January 2, 2006" .Site.Params.DateFormat)) }}
        </span>
    </span>


   <!-- 标签 -->
   <span id="event_meta_style_5">
    <span>
        {{- if .Params.tags }}
        <span class="post-tags-meta">
            {{- range $index, $value := ($.GetTerms "tags") }}
            {{- if eq $index 0}}
            <a href="{{ .Permalink }}" style="color: var(--secondary)!important;font-size: 14px;">{{ .LinkTitle }}</a>
            {{- else }}
            <a href="{{ .Permalink }}" style="color: var(--secondary)!important;">{{ .LinkTitle }}</a>
            {{- end }}
            {{- end }}
        </span>
        {{- end }}
    </span>
</div>