{{- /* Footer custom content area start */ -}}
{{- /*     Insert any custom code web-analytics, resources, etc. here */ -}}
{{- /* Footer custom content area end */ -}}

<!-- 给图片添加Fancybox灯箱 -->
{{ if not .Page.IsHome }}

<!-- 加载 Fancybox 的 JS -->
{{ $script := resources.Get "js/fancybox.umd.min.js"}}
<script src="{{ $script.Permalink }}"></script>

<!-- 加载 Fancybox 的 CSS -->
{{ $styles := resources.Get "css/extended/fancybox.min.css"}}
<link rel="stylesheet" href="{{ $styles.Permalink }}">

<script>
    Fancybox.bind("[data-fancybox]", {
        // Your custom options
    });
</script>
{{ end }}