{{- /* Footer custom content area start */ -}}
{{- /*     Insert any custom code web-analytics, resources, etc. here */ -}}
{{- /* Footer custom content area end */ -}}

<!-- 给图片添加Fancybox灯箱 -->
{{ if not .Page.IsHome }}
{{ $script := resources.Get "js/fancybox.umd.min.js"}}
<script src={{ $script.Permalink }}></script>

{{ $styles := resources.Get "css/fancybox.min.css"}}
<link rel="stylesheet" href="{{ $styles.Permalink }}">

<script>
    Fancybox.bind("[data-fancybox]", {
        // Your custom options
    });
</script>
{{ end }}