
<style>
    .parent-post-meta {
        display: flex;
        flex-wrap: wrap;
        opacity: 0.8;
    }
</style>

<span class="parent-post-meta">
    <!--日期-->
    <span id="post_meta_style_1">
        <span>
            {{- (.Date.Format (default "January 2, 2006" .Site.Params.DateFormat)) }}
            &thinsp;&ensp;
        </span>
    </span>
    
    
    <!--字数-->
    <span id="post_meta_style_2">
        {{ if .Params.showWordCount }} 
        <span>
            {{- .WordCount }}字
            &ensp;
        </span>
        {{ end }}
    </span>

    <!--作者-->
    <span id="post_meta_style_3">
        {{- if .Params.author }}
        <span>
            作者: {{ .Params.author }}
            &ensp;
            {{- end }}
        </span>
    </span>

   <!--翻译-->
    <span id="post_meta_style_4">
        {{- if .Params.translation }}
        <span>
         翻译: {{ .Params.translation }}
        &ensp;
            {{- end }}
         </span>
    </span>

    <!--嵌字-->
    <span id="post_meta_style_5">
        {{- if .Params.typesetting }}
         <span>
        嵌字: {{ .Params.typesetting }}
        &ensp;
        {{- end }}
         </span>
    </span>

    <!-- 标签 -->
    <span id="post_meta_style_6">
        <span>
            {{- if .Params.tags }}
            <span class="post-tags-meta">
                {{- range $index, $value := ($.GetTerms "tags") }}
                {{- if eq $index 0}}
                <a href="{{ .Permalink }}" style="color: var(--secondary)!important;font-size: 14px;">{{ .LinkTitle }}</a>
                {{- else }}
                <a href="{{ .Permalink }}" style="color: var(--secondary)!important;">{{ .LinkTitle }}</a>
                {{- end }}
                {{- end }}
            </span>
            {{- end }}
        </span>
    </span>
</span>


