.buttons,
.main .profile {
    display: flex;
    justify-content: center;
}

.main .profile {
    align-items: center;
    min-height: calc(100vh - var(--header-height) - var(--footer-height) - (var(--gap) * 2));
    text-align: center;
}

.profile .profile_inner h1 {
    padding: 12px 0;
}

.profile img {
    display: inline-table;
    border-radius: 50%;
}

.buttons {
    flex-wrap: wrap;
    max-width: 400px;
    margin: 0 auto;
}

.button {
    background: 
        url('/images/textures/texture.png') repeat,  /* 纹理背景 */
        rgba(59, 50, 50, 0.918);  /* 背景颜色，添加透明度 */
        color: rgb(214, 214, 214);  /* 文字颜色 */
        background-size: cover; /* 全覆盖 */
border-radius: var(--radius);
    border-radius: var(--radius);
    margin: 8px;
    padding: 6px;
    transition: transform 0.1s;
}

.button-inner {
    padding: 0 8px;
}

.button:active {
    transform: scale(0.96);
}
