.terms-tags li {
    display: inline-block;
    margin: 15px;
    font-weight: 500;
}

.terms-tags a {
    font-family: 'Huiwen-mincho';
    display: block;
    color: var(--tertiary);
    padding: 2px 8px;
    background: var(--texture) repeat, var(--secondary);
    background-size: cover;
    border-radius: 6px;
    transition: transform 0.1s;
}

.terms-tags a:active {
    background: var(--texture) repeat, var(--tertiary);
    transform: scale(0.96);
}
